<!- Navigation Bar Partial ->
<!- Include this in all pages ->

<nav class="navbar">
    <div class="container">
        <a href="index.html" class="navbar-logo">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 1.01L7 1c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99zM17 19H7V5h10v14z"/>
            </svg>
            Harizon
        </a><ul class="navbar-menu">
            <li><a href="index.html" class="navbar-link">Home</a></li>
            <li><a href="product.html" class="navbar-link">Products</a></li>
            <li><a href="about.html" class="navbar-link">About</a></li>
            <li><a href="contact.html" class="navbar-link">Contact</a></li>
            <li><a href="feedback.html" class="navbar-link">Feedback</a></li>
        </ul>
        
        <div class="navbar-icons">
            <a href="product.html" title="Search Products">
                <svg class="navbar-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
            </a>
            <a href="login.html" title="Login">
                <svg class="navbar-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
            </a>
            <a href="product.html" title="Shopping Cart">
                <svg class="navbar-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                </svg>
            </a>
        </div>
        
        <label for="nav-toggle" class="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
</nav>










